<div class="content deanery">
  <h3 class="users"><abbr>User</abbr> Deklaracja wyboru modułu</h3>
  <h4><%= @declaration.declaration_name %></h4>
  <p>Deklaracja została zapisana w systemie. Wyniki przydziału miejsc na poszczególne 
  moduły zostaną ogłoszone przez Dziekanat.</p>
</div>