<div class="content deanery">
  <h3 class="news"><abbr>Info</abbr> Kalendarz Studenta</h3>
  <p>Wersja testowa terminarza studenta. Uwagi na adres <%= encode_string('eiteam@eit.agh.edu.pl', mail_to('eiteam@eit.agh.edu.pl', nil, :encode => 'hex')) %></p>
<%= render :partial => '_partials/events' %>
</div>
