<div class="content deanery">
  <h3 class="news"><abbr>Info</abbr> Międzynarodowy Program Edukacyjny</h3>
  <h4>English M.Sc. Studies &quot;Telecommunications Networks and Services&quot;</h4>
  <p>
    <ul class="files">
      <li>Lecture syllabus <a href="/_ext/dziekanat/mpe/Lecture_Syllabus.doc">DOC</a></li>
      <li>Laboratories <a href="/_ext/dziekanat/mpe/Laboratories.doc">DOC</a></li>
      <li>Course year layout <a href="/_ext/dziekanat/mpe/Course_Year_Layout.xls">XLS</a></li>
      <li>Course semester layout (semester 1-4) <a href="/_ext/dziekanat/mpe/Course_Semester_Layout_1_4.doc">DOC</a></li>
      <li>Course semester layout (semester 5-10) <a href="/_ext/dziekanat/mpe/Course_Semester_Layout_5_10.xls">XLS</a></li>
    </ul>
  </p>
  <h4>Socrates-Erasmus programme</h4>
  <p>Department of Telecommunications has signed a number of bilateral exchange agreements:
    <ul class="files">
      <li>Tampere University of Technology, Tampere, Finland, 20 manmonths</li>
      <li>Helsinki University of Technology, Helsinki, Finland - 10 manmonths</li>
      <li>Universidad Carlos III de Madrid, Madrit, Spain, 5 manmonths</li>
      <li>Politechnica de Madrid, Madrit, Spain, 24 manmonths</li>
      <li>Politechnica de Catalunya, Barcelona, Spain, 12 manmonths</li>
      <li>Universita Degli Studi di L'Aquila, L'Aquila, Italy, 6 manmonths</li>
      <li>Ecole Nationale Superieure des Telecommunications, Paris, France - 16 manmonths</li>
      <li>Universidad de Oviedo, Spain, 24 manmonths</li>
      <li>Universidad Politecnica de Valencia, Spain, 20 manmonths</li>
      <li>Institut National Polytechnique de Grenoble, France, 8 manmonths</li>
      <li>University of Ljubljana, Slovenia, 12 manmonths</li>
    </ul>
  </p>
  <h4>For Polish students going abroad</h4>
  <p>Do dnia 15 kwietnia DWZ otrzymuje z Katedry Telekomunikacji listę zakwalifikowanych 
  studentów. Szczegółowe warunki kwalifikacji zamieszczone są niżej w Regulaminie KT AGH. 
  Ogólne warunki kwalifikacji podane są na <a href="http://www.dwz.agh.edu.pl/">stronie WWW DWZ AGH.</a></p>
  <h4>Regulaminy</h4>
  <p>
    <ul class="files">
      <li>regulamin Rektorski <a href="/_ext/dziekanat/mpe/reg2003.doc">DOC</a></li>
      <li>szczegółowy regulamin Katedry Telekomunikacji <a href="/_ext/dziekanat/mpe/se-reg-kt0809.doc">DOC</a></li>
    </ul>
  </p>
  <p>Szczegółowe informacje można uzyskać od:</p>
  <p>dr inż. Andrzej Staniszewski, KT AGH, pok. 107/D5<br />
     e-mail: stanisze@kt,agh,edu.pl<br />
     tel: 634-55-82, 617-39-37, 617-26-16.</p>
</div>