<div class="content deanery">
  <h3 class="news"><abbr>Info</abbr> Studia Podyplomowe</h3>
  <div class="center">
    AKADEMIA GÓRNICZO-HUTNICZA W KRAKOWIE<br />
    organizuje w 2007/2008/2009 trzysemestralne<br />
    <strong>STUDIUM PODYPLOMOWE</strong><br />
    z zakresu<br />
    <strong>NOWOCZESNYCH SIECI I USŁUG TELEKOMUNIKACYJNYCH</strong><br />
  </div>
  <p>Studium podyplomowe jest adresowane do osób z wyższym wykształceniem (w tym 
  nauczycieli) i umożliwia nabycie wykształcenia specjalistycznego z zakresu 
  telekomunikacji. Natomiast osoby, które ukończyły studia o profilu telekomunikacja, 
  mogą podnieść i uzupełnić swoje kwalifikacje. Miejsce zajęć: AGH Kraków.</p>
  <p><strong>Program studium obejmuje takie zagadnienia, jak:</strong>
    <ul class="files">
      <li>Telefonia cyfrowa i cyfrowe systemy komutacyjne</li>
      <li>Urządzenia dla zintegrowanej sieci telekomunikacyjnej ISDN.</li>
      <li>Nowe techniki sieciowe, architektury i protokoły komunikacyjne w sieciach dostępu abonenckiego.</li>
      <li>Architektury sieciowe i usługi w systemach radiokomunikacyjnych o strukturze komórkowej.</li>
      <li>Bezprzewodowe sieci transmisji danych</li>
      <li>Sieci szerokopasmowe</li>
      <li>Protokoły sieciowe i transportowe dla nowej generacji sieci Internet i szybkich sieci korporacyjnych oraz nowoczesne sieci IP</li>
      <li>Bezpieczeństwo w sieciach teleinformatycznych</li>
      <li>Techniki i narzędzia realizacji usług w systemach multimedialnych</li>
      <li>Ewolucja systemu WWW</li>
      <li>Wybrane urządzenia w cyfrowej transmisji danych</li>
    </ul>
  </p>
  <p>Celem studium jest przygotowanie specjalistów zajmujących się projektowaniem oraz 
  wdrażaniem nowoczesnych systemów i usług telekomunikacyjnych.</p>
  <p>Zajęcia na studium są prowadzone przez trzy semestry w systemie cotygodniowych 
  zjazdów w soboty i niedziele w Katedrze Telekomunikacji, na Wydziale Elektrotechniki, 
  Automatyki, Informatyki i Elektroniki AGH w Krakowie.</p>
  <p>Program dziewiątej edycji studium obejmuje 219 godzin wykładów i 133 godziny 
  ćwiczeń laboratoryjnych, czyli łącznie 352 godziny zajęć. W czasie trwania studium 
  słuchacze mają możliwość korzystania z zasobów Biblioteki Głównej AGH Kraków.</p>
  <p>Do ukończenia studium wymagane jest zdanie egzaminów z 4 wybranych przedmiotów i 
  złożenie pracy końcowej, napisanej pod kierunkiem pracownika naukowo-dydaktycznego 
  AGH. Absolwenci studium otrzymują świadectwo ukończenia Studiów Podyplomowych w 
  zakresie nowoczesnych sieci i usług telekomunikacyjnych, wydane przez 
  Akademię Górniczo-Hutniczą.</p>
  <h4>Początek zajęć: 20 października 2007 roku.</h4>
  <p>Całkowity koszt studium wynosi 6.900,- zł, Opłata może być uiszczona w trzech 
  ratach po 2.300,- zł każda. Zakończenie zajęć i rozdanie świadectw: marzec 2009 rok.</p>
  <p>Przyjmowani są kandydaci posiadający dyplom ukończenia studiów wyższych oraz 
  studenci ostatniego roku studiów wyższych. Wymagane dokumenty: kwestionariusz 
  osobowy, odpis dyplomu lub zaświadczenie z dziekanatu.
    <ul class="files">
      <li>podanie</li>
      <li>formularz danych płatnika</li>
    </ul>
  </p>
  <p>Termin przyjmowania zgłoszeń: od 27 kwietnia <strong>do 28 września 2007 roku</strong>.
  Liczba miejsc ograniczona, o przyjęciu decyduje kolejność zgłoszeń i wpłat.</p>
  <div class="center">
    Wszelkich szczegółowych informacji udziela<br />
    Sekretariat Katedry Telekomunikacji,<br />
    30-059 Kraków, al. Mickiewicza 30, pawilon D5, pokój 110,<br />
    tel.: (012) 634 55 82, fax: (012) 634 23 72,<br />
    e-mail: <%= encode_string('studium@kt.agh.edu.pl', mail_to('studium@kt.agh.edu.pl', nil, :encode => 'hex')) %> http://eit.agh.edu.pl/postgraduate
  </div>

</div>
