<div class="content deanery">
  <h3 class="news"><abbr>Info</abbr> Program</h3>
  <div class="center"><strong>WYKAZ PRZEDMIOTÓW</strong></div>
  <p>Zajęcia w ramach Studium będą odbywać się w formie zjazdów w soboty i niedziele 
  w wymiarze 10-12 zjazdów w semestrze przez trzy semestry w blokach po około 8 godzin 
  dziennie. Każdy z uczestników studium wysłucha 219 godzin wykładów i weźmie udział 
  w 133 godzinach ćwiczeń laboratoryjnych, czyli łącznie uczestniczyć będzie 
  w 352 godzinach zajęć. W ramach studium będą prowadzone następujące przedmioty:</p>

  <h4>Bezprzewodowe systemy transmisji danych<em> - 12h wykładów + 10h laboratorium</em></h4>
  <p class="notop">Sieci bezprzewodowe dla zastosowań domowych (HomeRF and SWAP, IrDA, CT1, CT2, CT3, 
  DECT i inne pojawiające się). Bezprzewodowe sieci osobiste (Bluetooth). Lokalne 
  bezprzewodowe sieci komputerowe (IEEE 802.11 i HiperLAN). Problemy stacji ukrytych, 
  synchronizacji i metody kontroli poboru energii. Bezprzewodowy ATM. Systemy ARDIS, 
  MODACOM, MOBITEX. Systemy LMDS i MMDS. Transmisja danych w systemach trankingowych 
  MPT1327, EDACS i TETRA. Systemy WLL. Ewolucja sieci bezprzewodowych i nowe rozwiązania.</p>

  <h4>Sieci dostępu abonenckiego<em> - 20h wykładów + 10h laboratorium</em></h4>
  <p class="notop">Techniki sieciowe, architektury i protokoły komunikacyjne w sieciach 
  dostępowych. Sieci dostępowe w zastosowaniach instytucjonalnych i biznesowych oraz dla 
  użytkowników indywidualnych. Światłowodowe sieci dostępowe FITL. Cyfrowe łącza 
  abonenckie xDSL. Hybrydowe sieci HFC. Projektowanie sieci telekomunikacyjnych przy 
  użyciu oprogramowania COMNET III.</p>

  <h4>Systemy radiokomunikacyjne<em> - 16h wykładów + 10h laboratorium</em></h4>
  <p class="notop">Analiza i projektowanie cyfrowych linii radiowych o małej i 
  średniej przepływności. Systemy łączności satelitarnej. Architektury sieciowe i 
  usługi w sieciach komórkowych drugiej i trzeciej generacji: GSM900, DCS1800, IS-95, 
  IMT-2000. System UMTS z wielodostępem kodowym WCDMA. Oprogramowanie Herald</p>

  <h4>Systemy komunikacji multimedialnej<em> - 26h wykładów + 16h laboratorium</em></h4>
  <p class="notop">Integracja usług telekomunikacyjnych i możliwości komunikacji 
  multimedialnej. Technologie i narzędzia realizacji systemów multimedialnych. Usługi 
  interaktywne NVOD, PPV, VOD. Techniki kompresji tekstu, obrazu i dźwięku. Radiodyfuzja 
  cyfrowa DAB, DVB. Systemy MMDS, LMDS, MVDS. Systemy multimedialne PP i MAVIX. 
  Architektura sprzętowo-programowa set-top box'ów. Systemy wideokonferencyjne 
  w komputerowych sieciach korporacyjnych. Tworzenie teleusług na bazie platformy Java.</p>

  <h4>Urządzenia dla zintegrowanej sieci telekomunikacyjnej<em> - 15h wykładów</em></h4>
  <p class="notop">Model odniesienia ISO/OSI dla sieci ISDN. Konfiguracje wyposażeń 
  abonentów sieci ISDN. Styki użytkownika z siecią. Transmisja w łączu abonenckim - 
  styk U. Usługi oferowane użytkownikom sieci ISDN. Rozwiązania firmowe urządzeń 
  dla sieci abonenckiej ISDN - Siemens, France Telecom, Alcatel, Ascom. Weryfikacja 
  rozwiązań firmowych - testowanie i analiza stanów logicznych styku S.</p>

  <h4>Protokoły sieciowe i transportowe szybkich sieci teleinformatycznych<em> - 18h wykładów + 4h laboratorium</em></h4>
  <p class="notop">Protokoły sieciowe i transportowe wdrażane dla nowej generacji 
  sieci Internet i szybkich sieci korporacyjnych. Rozszerzenia i nowe wersje 
  protokołu TCP. Protokół transportowy RTP. Protokoły warstwy sieciowej IPv6, RSVP. 
  Protokoły dynamicznego routingu w sieciach opartych o IP (RIPv2, IGRP, EIGRP, 
  OSPF, EGP, BGP). Strategie migracji z obecnie stosowanych rozwiązań do sieci nowej generacji.</p>

  <h4>Nowoczesne techniki przetwarzania sygnałów multimedialnych<em> - 8h wykładów + 16h laboratorium</em></h4>
  <p class="notop">Watermarking. Automatic Speech Recognition. Optical Character 
  Recognition. Shot Boundary Detection. Sekwencje wizyjne na stronach WWW. Wpływ 
  błędów transmisji na jakość obrazu wideo. Kompresja dźwięku -- porównanie kodeków. 
  Kompresja sekwencji wizyjnych.</p>

  <h4>Telefonia cyfrowa i cyfrowe systemy komutacyjne<em> - 24h wykładów</em></h4>
  <p class="notop">Modele sieci telekomunikacyjnej. Zagadnienia teletransmisyjne 
  i komutacyjne. Pola komutacji przestrzennej, czasowej i przestrzenno-czasowej 
  (struktury wielosekcyjne, blokada wewnętrzna, pola Closa). Sygnalizacja komutacyjna
  - system sygnalizacji nr 7. Teoria ruchu telefonicznego. Zagadnienia sieciowe. 
  Sterowanie w systemach cyfrowych. Sieć ISDN i sieć inteligentna IN. Porównanie 
  central krajowej sieci publicznej (5ESS, EWSD, S-12). Perspektywy rozwoju systemów 
  cyfrowych.</p>

  <h4>Ewolucja systemu WWW<em> - 16h wykładów + 10h laboratorium</em></h4>
  <p class="notop">Ewolucja systemu WWW w ostatnich latach. Standaryzacja języka 
  HTML i znaczenie standardu HTML 4.0. Rola języka Java w rozwoju systemu WWW. 
  Dynamiczny HTML, standard CSS. Język XML i jego znaczenie dla przyszłości systemu 
  WWW. Nowe tendencje w programowaniu po stronie serwera i technologia serwletów. 
  System WWW i multimedia. Integracja WWW i telewizji.</p>

  <h4>Sieci szerokopasmowe<em> - 20h wykładów + 10h laboratorium</em></h4>
  <p class="notop">Stan standaryzacji w zakresie sieci ISDN oraz ATM. Usługi bazowe, 
  teleusługi oraz usługi o wartości dodanej. Podstawy standardu ATM. Integracja ATM 
  z innymi technikami sieciowymi. Zarządzanie ruchem w sieci ATM i realizacja usług 
  o szerokim zakresie QoS. Technika ATM w sieciach dostępowych. Wsparcie ATM dla multimediów. 
  Sieci korporacyjne i operatorskie oparte na technice ATM. Migracja w strone 
  multipleksacji wieloprotokołowej MPLS, sygnalizacja i zarządzanie ruchem w MPLS, 
  transmisja strumieni multimedialnych w MPLS. Ewolucja sieci szerokopasmowych</p>

  <h4>Urządzenia dla zintegrowanej sieci telekomunikacyjnej<em> - 15h laboratorium</em></h4>
  <p class="notop">Oprogramowanie centrali ISDN Alcatel 4220. Telefon ISDN. Adresacja 
  terminali. Tester-emulator sieci ISDN. Router ISDN. Protokół warstwy drugiej (LAP-D) 
  w telefonie ISDN</p>

  <h4>Systemy radiokomunikacyjne<em> - 6h laboratorium</em></h4>
  <p class="notop">Zestaw ćwiczeń dotyczących systemów łączności satelitarnej, 
  prowadzonych w Obserwatorium Astronomicznym Uniwersytetu Jagiellońskiego na Zakamyczu</p>

  <h4>Wybrane urządzenia w cyfrowej transmisji danych<em> - 14h wykładów + 12h laboratorium</em></h4>
  <p class="notop">Rola systemów gromadzenia danych w zagadnieniach dotyczących 
  monitorowania środowiska. Cyfrowe interfejsy szeregowe: RS-232, RS-485, USB, IrDA. 
  Budowa i obsługa modemów. Łącza modemowe. Archiwizacja i kompresja danych.</p>

  <h4>Bezpieczeństwo w sieciach teleinformatycznych<em> - 18h wykładów + 4h laboratorium</em></h4>
  <p class="notop">Bezpieczeństwo danych i systemów. Zagrożenia. Metody i środki 
  ochrony. Logowanie. Hasła. Polityka bezpieczeństwa. Składniki bezpieczeństwa. 
  Zabezpieczenia kryptograficzne. Technologie bezpieczeństwa. Szyfrowanie i 
  prywatność. Szyfrowanie z kluczem publicznym/prywatnym. Usługi nieszyfrowane i 
  szyfrowane (TELNET, SSH, FTP, WWW, poczta, inne). Podpis cyfrowy (wiarygodność). 
  Ściany ogniowe. Technologia ścian ogniowych. DMZ. Hakerzy. Kierunki ataku i 
  techniki włamań. Wirusy. Ochrona antywirusowa. Serwerownia (UPSy).</p>

  <h4>Nowoczesne sieci IP<em> - 12h wykładów + 10h laboratorium</em></h4>
  <p class="notop">Nowe kierunki rozwoju sieci IP. Współpraca IP z innymi 
  technologiami sieciowymi: ATM i MPLS. Zagadnienia Quality of Service (QoS) w 
  sieciach IP. Modele IntServ i DiffServ dla sieci IP i współpraca tych modeli 
  ze sobą. Metody sterowania ruchem w sieciach IP i ich konsekwencje: protokoły 
  doboru trasy, policy based networking sterowanie przepływem w sieciach IP: TCP 
  flow control, RED i inne. Perspektywy rozwoju sieci IP i scenariusze migracji 
  tych sieci. </p>
</div>
