<div class="content deanery">
  <h3 class="news"><abbr>Info</abbr> Regulamin</h3>
<h4>I. Przepisy ogólne</h4>
  <ol>
    <li>Celem trzysemestralnego Studium jest dokształcanie w zakresie nowoczesnych sieci i usług telekomunikacyjnych umożliwiających realizację koncepcji społeczeństwa globalnej informacji. Organizatorem Studium jest:<br />
      <strong>Katedra Telekomunikacji</strong><br />
      Wydział Elektrotechniki, Automatyki, Informatyki i Elektroniki<br />
      Akademia Górniczo-Hutnicza<br />
      Al. Mickiewicza 30, 30-059 Kraków<br />
      Tel. 012 634 55 82<br />
      Fax. 012 634 23 72<br />
      <a href="http://www.kt.agh.edu.pl">http://www.kt.agh.edu.pl</a></li>
    <li>Kierownikiem Studium jest <em>prof. dr hab. inż. Zdzisław Papir</em>, a w sprawach organizacyjnych reprezentuje go <em>dr inż. Wiesław Ludwin.</em></li>
    <li>Regulamin Studium ustala ogólne zasady odbywania Studium. Program Studium i Harmonogram Studium jest ogłaszany w materiałach informacyjnych rozprowadzanych przez Organizatora.</li>
    <li>Wszystkie decyzje podejmowane w oparciu o przepisy Regulaminu powinny być zgodne z Ustawą o Szkolnictwie Wyższym oraz Statutem Uczelni.</li>
    <li>W sprawach nieujętych w Regulaminie należy zwracać się do Kierownika Studium.</li>
  </ol>
<h4>II. Kwalifikacja kandydatów</h4>
  <ol>
    <li>O przyjęcie do Studium mogą ubiegać się kandydaci legitymujący się dyplomem ukończenia studiów wyższych lub studenci V roku kierunków technicznych po przedstawieniu zaświadczenia z dziekanatu.</li>
    <li>Szczegółowy przebieg kwalifikacji jest podany w Harmonogramie.</li>
    <li>Ostateczna kwalifikacja do Studium odbywa się według kolejności wpłat na konto Studium.</li>
    <li>Minimalna liczba słuchaczy warunkująca uruchomienie Studium wynosi 24 osoby. Maksymalna liczba przyjmowanych kandydatów wynosi 48 osób.</li>
    <li>Kandydaci do Studium składają następujące dokumenty:</li>
    <li class="submenu">
      <ul class="files">
        <li>wypełniony druk podania</li>
        <li>formularz danych płatnika</li>
        <li>odpis dyplomu ukończenia studiów wyższych (do zwrotu po ukończeniu studium) lub zaświadczenie z dziekanatu</li>
        <li>kserokopię dowodu wpłaty lub przelewu bankowego za pierwszy semestr na konto Studium Podyplomowego "Nowoczesne sieci i usługi telekomunikacyjne"</li>
      </ul>
    </li>
  </ol>
<h4>III. Zaliczenia, egzaminy, ukończenie Studium</h4>
  <ol>
    <li>Okresem rozliczeniowym Studium jest semestr.</li>
    <li>Terminy egzaminów są podane w Harmonogramie.</li>
    <li>Zasady zaliczania oraz egzaminów określa na początku zajęć prowadzący.</li>
    <li>Dyplom Studium otrzymują uczestnicy, którzy spełnili wszystkie wymagania formalne oraz wymagania Programu i Harmonogramu Studium.</li>
  </ol>
<h4>IV. Odpłatności</h4>
  <ol>
    <li>Odpłatność za Studium wynosi 6.900 zł. Opłata ta zawiera przeprowadzenie zajęć dydaktycznych, koszty materiałów oraz przeprowadzenie pierwszego terminu egzaminów. Egzaminy poprawkowe są opłacane dodatkowo w wysokości 50 zł (za egzamin jednej osoby).</li>
    <li>Odpłatność może być wniesiona na konto Studium w całości lub w trzech ratach (każda w wysokości 2.300 zł) w terminach określonych w Harmonogramie.</li>
    <li>Odpłatności należy wnosić na konto:<br />
      <em>Akademia Górniczo-Hutnicza<br />
      30-059 Kraków<br />
      al. Mickiewicza 30<br />
      Wydz. EAIiE<br />
      Katedra Telekomunikacji<br />
      w banku Bank Polska Kasa Opieki SA O/Kraków, nr 78 10600076 0000 3200 0046 8005<br /></em>
      Na odwrocie przelewu lub w miejscu na korespondencję należy podać: <em>Studium Podyplomowe "Nowoczesne sieci i usługi telekomunikacyjne"</em></li>
    <li>Studium zwraca w całości wniesione odpłatności w terminie przewidzianym w Harmonogramie w przypadku, gdy liczba kandydatów jest mniejsza lub większa od liczby przewidzianej w Regulaminie.</li>
    <li>Jeżeli słuchacz rezygnuje z uczestnictwa w Studium w ciągu pierwszych trzech tygodni (od dnia rozpoczęcia semestru zimowego), Studium zwraca w całości wniesioną opłatę pod warunkiem wniesienia odpłatności przez innego uczestnika.</li>
  </ol>
</div>
