/* =initializing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body, h1, h2, h3, h4, h5, h6,
blockquote, p, address, form, fieldset,
ul, ol, dl, dt, dd, li, hr, table, td, th {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    background: #f7f2ea url(/images/bg.gif) repeat-x left top;
}

em {
    color: #87785d;
    font-style: normal;
}

a, a:visited {
    outline: none !important;
    text-decoration: underline;
    color: #000000;
}

em a, em a:visited {
    color: #87785d;
    font-weight: normal;
    text-decoration: none;
}

a:hover, em a:hover {
    color: #cc0000;
}

#menu a {
    text-decoration: none;
}

fieldset, img { 
    border: none; 
}

ul {
    list-style: none;
}

input, select, textarea {
    background: #f6e7c8;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
    font-size: 11px;
    border: 1px solid #444444;
    height: 16px;
}

textarea {
    height: 80px;
}

#wrapper {
    width: 760px;
    margin: 0 auto;
    background: url(/images/main.gif) repeat-y;
}

#menu, #content {
    height: 100%;
}

div.errorExplanation {
    border: #f1c36b solid 1px;
    background: #f7f2ea;
    padding: 10px;
    margin-top: 10px;
}

div.errorExplanation p {
    margin: 0px 0px 5px;
    font-weight: bold;
}

div.errorExplanation ul {
    list-style: disc;
    padding-left: 20px;
}

div.errorExplanation ul li {
    color: #cc0000;
}

div.fieldWithErrors input[type="text"],
div.fieldWithErrors input[type="password"],
div.fieldWithErrors select,
div.fieldWithErrors textarea {
    border: solid 1px #cc0000;
}

/* =top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#top {
    height: 4.66em;
    background: #f1c36b url('/images/top.gif') no-repeat right top;
    overflow: hidden;
}


#top h1 {
    float: right;
    overflow: hidden;
    width: 10em;
}

#top h1 a {
    font-size: 14px;
    color: #80590c;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.1em;
    width: 14em;
    display: block;
    overflow: hidden;
    float: right;
    cursor: pointer;
}

#top h1 strong {
    font-size: 18px;
    color: #000000;
    font-weight: normal;
    display: block;
    text-align: right;
    position: relative;
    padding-right: 1em;
    z-index: 1;
}

#top h1 strong span {
    position: absolute;
    top: 0.2em;
    right: 0px;
    color: #be8411;
    font-size: 2.3em;
    z-index: -1;
}

#top h2 {
    padding-left: 124px;
    background: url(/images/sections/index.jpg) repeat-y;
    height: 100%;
    position: relative;
    font-size: 18px;
    font-weight: normal;
    float: left;
}

#top h2 span {
    position: absolute;
    bottom: 3px;
    left: 140px;
}

#top h2.about {
    background: url(/images/sections/about.jpg) repeat-y;
}

#top h2.deanery,
#top h2.subject {
    background: url(/images/sections/deanery.jpg) repeat-y;
}

#top h2.files,
#top h2.materials {
    background: url(/images/sections/materials.jpg) repeat-y;
}

#top h2.index,
#top h2.news {
    background: url(/images/sections/news.jpg) repeat-y;
}

#top h2.lecturers {
    background: url(/images/sections/lecturers.jpg) repeat-y;
}

#top h2.postgraduate {
    background: url(/images/sections/postgraduate.jpg) repeat-y;
}

#top h2.profile,
#top h2.settings,
#top h2.signin,
#top h2.register {
    background: url(/images/sections/settings.jpg) repeat-y;
}

#top h2.students {
    background: url(/images/sections/students.jpg) repeat-y;
}

/* =menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#menu {
    width: 124px;
    overflow: hidden;
    background: #f1c36b;
    float: left;
}

#menu ul {
    background: #f6dba9;
    padding-bottom: 2px;
}

#menu ul li {
    border-left: 11px solid #e49f15;
    text-transform: uppercase;
    padding-left: 5px;
    margin-top: 2px;
    background: #f1c36b;
    font-weight: bold;
    color: #543b08;
}

#menu ul li.submenu {
    border: none;
    padding: 0px;
    margin: 0px;
    display: none;
}

#menu ul li.submenu ul {
    padding-bottom: 0px;
}

#menu ul li.submenu ul li {
    border-left: 11px solid #f0b94a;
    text-transform: lowercase;
    padding: 2px 0px 0px 5px;
    margin: 0px;
    background: #f2ce88;
    overflow: hidden;
}

#menu ul li.submenu ul.normal li {
    text-transform: none;
    text-align: center;
}

#menu ul li.login {
    display: list-item !important;
}

#menu ul li.login input {
    width: 100px;
}

#menu ul li.login input[type="checkbox"] {
    width: auto;
}

#menu ul li.login input[type="submit"] {
    width: 50px;
    float: left;
    margin-left: 5px;
    padding: 0px;
    border: none;
    background: none;
    color: #543b08;
    text-transform: lowercase;
    text-align: left;
}

#menu ul li.login input[type="submit"]:first-child {
    margin-left: 23px;
}

#menu div.fieldWithErrors input[type="text"],
#menu div.fieldWithErrors input[type="password"] {
    border: solid 1px #444444;
}

/* =pager
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.pager {
    clear: both;
    overflow: hidden;
    padding-top: 7px;
}

div.pager ul.pager {
    background: #f6e6c8;
}

div.pager ul.pager li.navigation {
    float: right;
    margin: -7px 15px 0px 0px;
}

div.pager ul.pager li.navigation a {
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -1000em;
    font-size: 0px;
    background-repeat: no-repeat;
    background-position: top left;
}

div.pager ul.pager li.navigation a.previous {
    background-image: url(/images/icons/left.gif);
}

div.pager ul.pager li.navigation a.next {
    background-image: url(/images/icons/right.gif);
}

div.pager ul.pager li.navigation a.previous-disabled {
    background-image: url(/images/icons/left-disabled.gif);
}

div.pager ul.pager li.navigation a.next-disabled {
    background-image: url(/images/icons/right-disabled.gif);
}

div.pager ul.pager li.results {
    float: left;
}

div.pager ul.pager li.found {
    text-align: center;
}

div.pager ul.pages {
    overflow: hidden;
    text-align: center;
}

div.pager ul.pages li {
    display: inline;
    margin: 0px 2px;
}

div.pager ul.pages li.active a {
    font-weight: bold;
}

/* =content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.margin-bottom {
    margin-bottom: 15px;
}

.margin-top {
    margin-top: 15px;
}


span.block {
    display: block;
}

p.infobar {
    margin-bottom: 5px;
    font-size: 0.9em;
}

h5.forbidden {
    color: #cc0000; 
    font-weight: bold; 
    text-decoration: underline; 
    margin-bottom: 10px;
}

div.big-table {
    overflow: auto; 
    width: 602px; 
    border: solid 1px #f2ce88;
}

p.left {
    text-align: left;
}

li.center,
div.center {
    text-align: center;
}

div.right {
    text-align: right;
}

ul.owner-options {
    padding: 0px 10px 0px 6px;
    overflow: hidden;
    float: left;
}

div.content td ul.owner-options {
    padding: 0px;
}

ul.owner-options li {
    float: left;
    width: 16px;
    height: 13px;
    margin: 0px 0px 0px 4px;
}

div.content td ul.owner-options li {
    margin: 0px;
    float: none;
}

ul.owner-options li a {
    display: block;
    width: 16px;
    height: 13px;
    text-indent: -1000em;
}

ul.owner-options li.edit a {
    background: url(/images/icons/edit.gif) left top no-repeat;
}

ul.owner-options li.delete a {
    background: url(/images/icons/delete.gif) left top no-repeat;
}

#content {
    background: #f6e7c8;
    overflow: hidden;
    padding: 5px 6px 10px 4px;
}

div.column-left {
    width: 435px;
    float: left;
}

div.column-right {
    width: 180px;
    float: left;
    margin-left: 11px;
}

div.content {
    padding: 13px 10px 10px;
    border: solid 1px #f2ce88;
    position: relative;
    background: #f6dba9;
    margin-bottom: 17px;
}

div.content-left {
    width: 413px;
}

div.content-right {
    width: 158px;
}

div.content h3 {
    font-size: 11px;
    background: #f2ce88;
    border-left: #f0b94a solid 11px;
    padding-left: 4px;
    margin: -14px -11px 12px;
}

div.content h4.head {
    background: #f6e7c8;
    margin-bottom: 15px;
}

div.content ul li {
    margin-bottom: 7px;
    overflow: hidden;
}

div.content h3 abbr {
    text-indent: -1000em;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    margin: -7px 4px 0px 0px;
}

dl,
div.submit {
    background: #f2ce88;
    border: solid 1px #f6e7c8;
    padding: 10px;
}

div.submit {
    text-align: center;
}

div.submit input[type='submit'] {
    width: 75%;
}

dl dt,
dl dd {
    padding: 5px 0px;
    height: 20px;
    line-height: 20px;
}

dl dt {
    width: 80px;
    padding-right: 20px;
    text-align: right;
    float: left;
}

dl dt input[type="radio"] {
    float: left;
}

dl dd {
    overflow: hidden;
    width: 290px;
}

dl dd input[type='text'],
dl dd textarea {
    width: 288px;
}

dl dd select {
    width: 290px;
}

dl.data {
    overflow: hidden;
    border-top: #f6e7c8 3px solid;
    border-right: #f6e7c8 1px solid;
    border-bottom: #f6e7c8 3px solid;
    border-left: #f6e7c8 1px solid;
    width: 381px;
    margin: 10px auto 0px;
}

dl.data dt,
dl.data dd {
    float: left;
    border: #f6e7c8 1px solid;
    padding: 7px 11px;
    border-color: #f6dba9;
}

dl.data dt {
    width: 86px;
    background: #f0b94a;
    font-weight: bold;
    text-align: right;
    clear: left;
    background: #f1c36b;
}

dl.data dd {
    width: 247px;
    background: #f2ce88;
    min-height: 13px;
}

dl.long {
    width: 582px;
    margin: 15px 0px;
}

dl.long dt {
    width: 126px;
    min-height: 22px;
}

dl.long dd {
    width: 408px;
    height: auto;
    min-height: 22px;
}

dl.long dd input[type="text"],
dl.long dd input[type="password"],
dl.long dd select,
dl.long dd textarea {
    width: 380px;
}

dl.data dd input[type="text"],
dl.data dd input[type="password"],
dl.data dd select,
dl.data dd textarea {
    width: 245px;
}

dl.list {
    width: 582px;
}

dl.list dt {
    text-align: center;
}

dl.list dd {
    width: 448px;
    background: #f6dba9;
    margin-bottom: 2px;
}

dl.list dt,
dl.list dd {
    height: auto;
    line-height: normal;
}

dl.checkboxes {
    padding: 0px;
    overflow: hidden;
}

dl.checkboxes dt {
    padding: 3px;
    background: #f1c36b;
    width: auto;
    float: left;
    height: 20px;
}

dl.checkboxes dd {
    padding: 0px 0px 0px 20px;
    font-weight: bold;
    float: left;
    width: 259px;
    height: 26px;
    line-height: 26px;
}

dl.checkboxes-long dd {
    float: none;
    width: auto;
}

dl.checkboxes dt input {
    margin: 0px;
    padding: 0px;
}

table {
    border: solid 1px #f0b94a;
    background: #f6e7c8;
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
    margin: 15px 0px;
}

table.sked {
    background: #f0b94a;
}

table th {
    background: #f0b94a;
}

table tr.hr td {
    background: #f2ce88;
    padding: 2px 0px;
    font-weight: bold;
}

table tr.selected td {
    font-weight: bold;
}

table td {
    background: #f6dba9;
    padding: 5px 2px;
}

table th,
table td {
    text-align: center;
}

div.call2action {
    overflow: hidden;
    text-transform: lowercase;
}

div.call2action div {
    float: right;
    text-transform: lowercase;
}

/* news */

h3.news abbr {
    background-image: url(/images/abbr/news.gif);
}

/* users */

h3.users abbr {
    background-image: url(/images/abbr/users.gif);
}

h5 {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

/* subjects */
h3.subjects abbr {
    background-image: url(/images/abbr/subjects.gif);
}

dl.subjects {
    background: none;
    border: none;
}
dl.subjects dt,
dl.subjects dd {
    padding: 5px 11px;
}

dl.subjects dt {
    float: right;
    width: 53px;
    text-align: center;
}

dl.subjects dd {
    width: 280px;
    background: #f6e7c8;
}

/* photo */

h3.photo abbr {
    background-image: url(/images/abbr/users.gif);
}

/* files */
h3.files abbr {
    background-image: url(/images/abbr/subjects.gif);
}

abbr.private {
    background-image: url(/images/abbr/private.gif);
    background-repeat: no-repeat;
    padding-left: 15px;
    text-decoration: none;
    border: none;
    font-size: 14px;
    color: #f6dba9;
}

ul.files {
    list-style: disc;
    padding-left: 10px;
}

/* grades */
h3.grades abbr {
    background-image: url(/images/abbr/grades.gif);
}

/* search */
h3.search abbr {
    background-image: url(/images/abbr/search.gif);
}

div.google form {
    text-align: center;
}

div.google input#q {
    width: 158px;
    margin-bottom: 5px;
}

/* poll */
div.polls h4 {
    text-align: center;
    margin-bottom: 10px;
}
h3.polls abbr {
    background-image: url(/images/abbr/polls.gif);
}

ul.poll {
    list-style: disc;
    padding-left: 10px;
}

div.bar {
    width: 100%;
    height: 7px;
    background: #f6ecdc;
    margin-top: 3px;
}

div.bar div.filling {
    background: #e5a713;
    height: 7px;
}

/* deanery */

#paniBeatka {
    float: right;
    margin-right: 20px;
}

div.deanery p,
div.deanery ul li {
    margin: 15px 0px;
    overflow: hidden;
}

div.deanery ul li p {
    margin: 0px;
}

div.deanery ul li div {
    float: left;
}

div.deanery div.days {
    margin: 0px 10px 0px 40px;
    padding: 5px 0px;
    height: 23px;
    width: 80px;
    text-align: right;
}

div.deanery div.separator {
    height: 100%;
    width: 9px;
    border: solid 1px #000000;
    border-left: none;
    height: 21px;
}

div.deanery div.hours {
    margin-left: 20px;
    height: 100%;
    line-height: 23px;
    height: 23px;
}

div.deanery ul li.more div.days {
    height: 52px;
}

div.deanery ul li.more div.separator {
    height: 60px;
}

div.deanery ul li.more div.hours {
    height: 62px;
    line-height: 62px;
}

div.deanery ol,
div.deanery ul.files {
    margin: 10px 0px 10px 10px;
}

div.deanery ol {
    margin-left: 20px;
}

div.deanery ol li.submenu,
div.deanery ul.files li.submenu {
    list-style: none;
}

div.deanery ol li,
div.deanery ul.files li {
    margin: 0px;
    padding-left: 10px;
    overflow: visible;
}

div.deanery ol li {
    padding-left: 0px;
}

div.deanery p.notop {
    margin-top: 0px;
}

/* about */
div.eiteam div.person {
    overflow: hidden;
    margin: 15px 0px;
}
div.eiteam div.person img {
    float: left;
    margin: 0px 20px;
}

div.eiteam div.person-right img {
    float: right;
}

div.eiteam div.person  h4 {
    margin-top: 25px;
}

div.eiteam div.person-right h4,
div.eiteam div.person-right {
    text-align: right;
}

.letter {
    color: #cc0000;
    text-align: center;
}

.letter a {
    font-size: 1.5em;
    color: #cc0000;
}

p.letter {
    margin-bottom: 10px;
}

/* signin */
div.signin {
    width: 204px;
    float: left;
    margin: 15px 10px 0px 0px;
    overflow: hidden;
}

div.signin label {
    width: 100px;
    float: left;
    margin: 3px 0px;
    clear: left;
}

div.signin label.cbox {
    float: none;
    width: 202px;
}

div.signin input[type="text"],
div.signin input[type="password"] {
    width: 100px;
    margin-bottom: 2px;
}

div.signin input[type="submit"] {
    float: right;
    margin-top: 5px;
}

/* sitemap */
div.map li.login {
    display: none;
}

div.map ul {
    list-style: disc;
}

div.map ul li {
    margin: 0px;
    list-style: disc;
    margin-left: 15px;
    overflow: visible;
}

div.map ul li.submenu {
    list-style: none;
}

div.map ul li a.menu-item,
div.map ul li a.menuitem {
    font-weight: bold;
    text-transform: uppercase;
}

div.map ul li.www-login {
    display: none;
}

/* settings */
h3.settings abbr {
    background-image: url(/images/abbr/settings.gif);
}

div.settings {
    overflow: hidden;
}

div.settings h5 {
    padding-left: 20px;
    text-align: left;
    margin-bottom: 5px;
    background: url(/images/denied.gif) left center no-repeat;
}

div.settings h5.allowed {
    background: url(/images/approved.gif) left center no-repeat;
}

div.settings div.option {
    width: 225px;
    padding-left: 42px;
    margin: 5px 5px 5px 20px;
    float: left;
    background-position: left center;
    background-repeat: no-repeat;
}

div.settings div.option p {
    text-align: justify;
}

div.settings div.materials {
    background-image: url(/images/icons/materials.gif);
}

div.settings div.news {
    background-image: url(/images/icons/news.gif);
}

div.settings div.grades {
    background-image: url(/images/icons/grades.gif);
}

div.settings div.polls {
    background-image: url(/images/icons/polls.gif);
}

div.settings div.groups,
div.settings div.declarations,
div.settings div.calendar {
    background-image: url(/images/icons/other.gif);
}

/* =footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#footer {
    background: #e49f15;
    padding: 2px;
    clear: both;
}

#footer a {
    text-decoration: none;
}

#footer ul {
    text-align: right;
    overflow: hidden;
}

#footer ul li:first-child {
    float: left;
}

#footer ul li {
    display: inline;
}