/* =initializing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body, h1, h2, h3, h4, h5, h6,
blockquote, p, address, form, fieldset,
ul, ol, dl, dt, dd, li, hr, table, td, th {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    background: #f7f2ea url(/images/bg.gif) repeat-x left top;
}

em {
    color: #87785d;
    font-style: normal;
}

a, a:visited {
    outline: none !important;
    color: #000000;
}

em a, em a:visited {
    color: #87785d;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: #cc0000;
}

fieldset, img { 
    border: none; 
}

ul {
    list-style: none;
}

input, select, textarea {
    background: #f6e7c8;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
    font-size: 11px;
    border: 1px solid #444444;
    height: 16px;
}

#wrapper {
    width: 760px;
    margin: 0 auto;
    background: url(/images/main.gif) repeat-y;
}

#menu, #content {
    height: 100%;
}

/* =top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#top {
    height: 4.66em;
    background: #f1c36b url('/images/top.gif') no-repeat right top;
    overflow: hidden;
}


#top h1 {
    float: right;
    overflow: hidden;
    width: 10em;
}

#top h1 a {
    font-size: 14px;
    color: #80590c;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.1em;
    width: 14em;
    display: block;
    overflow: hidden;
    float: right;
    cursor: pointer;
}

#top h1 strong {
    font-size: 18px;
    color: #000000;
    font-weight: normal;
    display: block;
    text-align: right;
    position: relative;
    padding-right: 1em;
}

#top h1 strong span {
    position: absolute;
    top: 0.2em;
    right: 0px;
    color: #be8411;
    font-size: 2.3em;
    z-index: -1;
}

#top h2 {
    padding-left: 124px;
    background: url(/images/sections/index.jpg) repeat-y;
    height: 100%;
    position: relative;
    font-size: 18px;
    font-weight: normal;
    float: left;
}

#top h2 span {
    position: absolute;
    bottom: 3px;
    left: 140px;
}

/* =menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#menu {
    width: 124px;
    overflow: hidden;
    background: #f1c36b;
    float: left;
}

#menu ul {
    background: #f6dba9;
    padding-bottom: 2px;
}

#menu ul li {
    border-left: 11px solid #e49f15;
    text-transform: uppercase;
    padding-left: 5px;
    margin-top: 2px;
    background: #f1c36b;
    font-weight: bold;
    color: #543b08;
}

#menu ul li.submenu {
    border: none;
    padding: 0px;
    margin: 0px;
    display: none;
}

#menu ul li.submenu ul {
    padding-bottom: 0px;
}

#menu ul li.submenu ul li {
    border-left: 11px solid #f0b94a;
    text-transform: lowercase;
    padding: 2px 0px 0px 5px;
    margin: 0px;
    background: #f2ce88;
    overflow: hidden;
}

#menu ul li.login {
    display: list-item;
}

#menu ul li.login input {
    width: 100px;
}

#menu ul li.login input[type="checkbox"] {
    width: auto;
}

#menu ul li.login input[type="submit"] {
    width: 50px;
    float: left;
    margin-left: 5px;
    padding: 0px;
    border: none;
    background: none;
    color: #543b08;
    text-transform: lowercase;
    text-align: left;
}

#menu ul li.login input[type="submit"]:first-child {
    margin-left: 0px;
}

/* =content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.center {
    text-align: center;
}

div.right {
    text-align: right;
}

#content {
    background: #f6e7c8;
    overflow: hidden;
    padding: 5px 6px 10px 4px;
}

div.column-left {
    width: 435px;
    float: left;
}

div.column-right {
    width: 180px;
    float: left;
    margin-left: 11px;
}

div.content {
    padding: 13px 10px 10px;
    border: solid 1px #f2ce88;
    position: relative;
    background: #f6dba9;
    margin-bottom: 17px;
}

div.content-left {
    width: 413px;
}

div.content-right {
    width: 158px;
}

div.content h3 {
    font-size: 11px;
    background: #f2ce88;
    border-left: #f0b94a solid 11px;
    padding-left: 4px;
    margin: -14px -11px 12px;
}

div.content h4.head {
    background: #f6e7c8;
    margin-bottom: 15px;
}

div.content ul li {
    margin-bottom: 7px;
}

div.content h3 abbr {
    text-indent: -1000em;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    margin: -7px 4px 0px 0px;
}

dl.data {
    overflow: hidden;
    border-top: #f6e7c8 3px solid;
    border-right: #f6e7c8 1px solid;
    border-bottom: #f6e7c8 3px solid;
    border-left: #f6e7c8 1px solid;
    width: 381px;
    margin: 10px auto 0px;
}

dl.data dt,
dl.data dd {
    float: left;
    border: #f6e7c8 1px solid;
    padding: 7px 11px;
    border-color: #f6dba9;
}

dl.data dt {
    width: 86px;
    background: #f0b94a;
    font-weight: bold;
    text-align: right;
    clear: left;
    background: #f1c36b;
}

dl.data dd {
    width: 247px;
    background: #f2ce88;
    min-height: 13px;
    background: #f6e7c8;
}

/* news */

h3.news abbr {
    background-image: url(/images/abbr/news.gif);
}

/* users */

h3.users abbr {
    background-image: url(/images/abbr/users.gif);
}

h5 {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

/* subjects */
h3.subjects abbr {
    background-image: url(/images/abbr/subjects.gif);
}

dl.subjects {
    background: none;
    border: none;
}
dl.subjects dt,
dl.subjects dd {
    padding: 5px 11px;
}

dl.subjects dt {
    float: right;
    width: 53px;
    text-align: center;
}

dl.subjects dd {
    width: 280px;
}

/* photo */

h3.photo abbr {
    background-image: url(/images/abbr/users.gif);
}

/* files */
h3.files abbr {
    background-image: url(/images/abbr/subjects.gif);
}

ul.files {
    list-style: disc;
    padding-left: 10px;
}

/* grades */
h3.grades abbr {
    background-image: url(/images/abbr/grades.gif);
}


/* =footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#footer {
    background: #e49f15;
    padding: 2px;
    clear: both;
}

#footer a {
    text-decoration: none;
}

#footer ul {
    text-align: right;
    overflow: hidden;
}

#footer ul li:first-child {
    float: left;
}

#footer ul li {
    display: inline;
}