<div class="content">
  <h3 class="settings"><abbr>Settings</abbr> Odmowa dostępu</h3>
  <h5 class="forbidden">ODMOWA DOSTĘPU</h5>
  <p>Nie masz uprawnień, aby wejść na żądaną stronę. Może być to spowodowane kilkoma czynnikami:</p>
  <p><strong>1)</strong> Nie masz wystarczających praw użytkownika. Aby skorzystać z wybranej strony, 
  potrzebne są dodatkowe przywileje. Jeżeli uważasz, że strona powinna być dla Ciebie dostępna, 
  skontaktuj się z administratorami.</p>
  <p><strong>2)</strong> Strona ta nie jest przeznaczona dla Ciebie. Mogą być to informacje skierowane 
  tylko do pewnej grupy użytkowników WWW EiT (np prowadzących, konkretnego roku studiów itp.).</p>
  <p><strong>3)</strong> Próbujesz uzyskać dostęp do danych WWW EiT przez linka z innej strony. 
  Nasza strona nie jest zbiorem plików, do którego każdy może się podpiąc. Jeżeli 
  chcesz znaleźć konkretny dokument, skorzystaj z działu MATERIAŁY. </p>
</div>
