<div class="content<%= content_type (defined?(content).nil? ? '' : content) %>">
  <h3 class="users"><abbr>Users</abbr>Prowadzący</h3>
  <dl class="data subjects">
<% @profiles.each do |profile| -%>
    <dt><a href="##TODO##">materiały</a></dt>
    <dd><%= profile.user.firstname %> <%= profile.user.lastname %></dd>
<% end %>
  </dl>
</div>