<div class="column-left">
<%= render :partial => '_partials/subject', :locals => { :content => 'left' } %>
<%= render :partial => '_partials/profiles', :locals => { :content => 'left' } %>
<%= render :partial => '_partials/files_detailed', :locals => { :files => @files, :content => 'left' } %>
</div>
<div class="column-right">
<%= render :partial => '_partials/grades', :locals => { :content => 'right' } %>
</div>