<div class="content">
  <h3 class="settings"><abbr>Settings</abbr> Pytanie Kontrolne</h3>
  <p>Aby uzyskać dostęp do swojego konta, odpowiedz poprawnie 
  (zgodnie z Twoją odpowiedzią) na poniższe pytanie:</p>
    
<% form_for :user, :url => {:action => 'answer'} do |f| -%>
    <dl class="data long">
      <%= dt_dd 'Pytanie', @user.question %>
      <%= dt_dd '<label for="user_answer">Odpowiedź</label>', f.text_field(:answer) %>
    </dl>
    <div class="submit">
      <input type="hidden" name="user_id" value="<%= IdEncoder.encode(@user.id) %>" />
      <%= submit_tag 'Odpowiadam' %>
    </div>
<% end %>
</div>
