<div class="content">
  <h3 class="news"><abbr>News</abbr>Brak pytania kontrolnego</h3>
  <div class="center">
    Nie podałeś pytania kontrolnego, <strong><a href="<%= url_for :controller => 'about', :action => 'eiteam' %>">skontaktuj się</a></strong> z administratorami aby odzyskać konto.
  </div>
</div>