<div class="content deanery">
  <h3 class="news"><abbr>Info</abbr> FAQ</h3>
  <p>Aby ułatwić przeglądanie FAQ, wszystkie pytania zostały zebrane na samym początku tego dokumentu.</p>

  <ol>
    <li>Czy coś się zmienia na stronie?</li>
    <li>Czy muszę zakładać swoje konto w serwisie?</li>
    <li>Co zrobić jak nie mogę się zalogować/założyć konta?</li>
    <li>Jak zmienić informacje o sobie?</li>
    <li>Dlaczego strona źle mi się generuje?</li>
    <li>Gdzie zniknęła opcja "komp. prywatny" przy logowaniu?</li>
    <li>Dlaczego przy pierwszym otwieraniu serwisu EiT strona przeładowywuje się?</li>
    <li>Dlaczego kłódki w wyszukiwarce materiałów nie otwierają się?</li>
    <li>Jak działają grupy studentów i kto może je tworzyć?</li>
    <li>Dlaczego na stronie wyświetla się kod HTML (np BR) starych newsów?</li>
    <li>Dlaczego adresy e-mailowe są wyświetlane jako grafika?</li>
    <li>Co to jest sygnaturka i gdzie uzyskam odpowiedzi na pytania dotyczące forum?</li>
    <li>Nie mam praw do materiałów na innym roku, jak moge je pobrać?</li>
    <li>Jak mogę korzystać z aktualności serwowanych via RSS?</li>
    <li>Jak usunąć posta?</li>
    <li>Jak dołączyć sygnaturkę?</li>
    <li>W jaki sposób uzyskam odpowiedź na dręczące mnie pytanie, którego nie ma w FAQ?</li>
  </ol>
  
  <h4>1. Czy coś się zmienia na stronie?</h4>
  <p class="notop">Od strony użytkownika, większość zmian może być mało widoczna, 
  albo nawet niezauważalna. Lista nowych możliwości serwisu EiT nie jest oczywiście 
  zamknięta. Prace nad nim trwają stale i raczej nie jest planowane ich zakończenie. 
  Ich tempo zależy od liczby osób współpracujących. Aktualni i byli współpracownicy 
  są wypisani na stronie EiTeam. Wszyscy nowi są mile widziani.</p>

  <h4>2. Czy muszę zakładać swoje konto w serwisie?</h4>
  <p class="notop">Dzisiaj już nie da się bez tego żyć. Każdy zalogowany student ma 
  dostęp do tych samych informacji co niezalogowany, przy czym niektóre mogą być łatwo 
  odfiltrowane jako nieciekawe (np. aktualności dla innych lat). Po zalogowaniu każdy 
  student ma ponadto dostęp do deklaracji (jeśli są jakieś aktywne), swoich materiałów, 
  ocen, niektórych pokoi w hydeparku, list studenckich i swojego profilu. Są też bardziej 
  uprzywilejowani studenci (np. starostowie) mający dostęp do niektórych funkcji w 
  panelu sterowania.</p>

  <h4>3. Co zrobić jak nie mogę się zalogować/założyć konta?</h4>
  <p class="notop">Należy przede wszystkim unikać zapominania hasła i ustawić sobie 
  pytanie kontrolne i odpowiedź na nie. Można wtedy odzyskać hasło korzystając z 
  formularza na dole strony. W przypadku gdy ta metoda zawodzi, kliknij w lewy dolny 
  róg strony i napisz mail, pamiętając o podaniu imienia i nazwiska oraz numeru 
  indeksu i grupy dziekanatowej.</p>

  <h4>4. Jak zmienić informacje o sobie?</h4>
  <p class="notop">Większość informacji można ustawić na stronie Twoje konto. Tam 
  można ustawić hasło, czy dane kontaktowe. Te ostatnie są dostępne jedynie prowadzącym 
  i innym kolegom. Warto je podać we własnym interesie, gdyż niekiedy ważny jest szybki 
  kontakt z daną osobą. Numer grupy, indeksu, rok studiów można zmienić tylko w dziekanacie. 
  Niekiedy zdarza się, że dane mogą nie być zsynchronizowane i wtedy należy napisać maila.</p>

  <h4>5. Dlaczego strona źle mi się generuje?</h4>
  <p class="notop">Prawdopodobnie Twoja przeglądarka WWW ma problemy z interpretacją 
  kodu strony, a konkretnie CSS-ów (czyli części kodu opisującej wygląd strony i układ 
  poszczególnych elementów). Sprawdź, czy na pewno korzystasz z najnowszej wersji przeglądarki 
  i zaktualizuj ją w razie potrzeby. Nowy kod HTML serwisu testowany był na następujących 
  przeglądarkach:<br />
  - Opera 8.0 beta build 7401<br />
  - FireFox 1.0 @ Gecko/20041107<br />
  - IE 6.0.2900.2180.xpsp_sp2_rtm.040803-2158<br />
  i nie sprawiał na nich problemu. Podkreślam jeszcze raz, że ważna jest aktualnośc 
  oprogramowania. Na przykład Netscape z rodziny 7.x oparty o Gecko/200408 (czyli 3 
  miesiące starsze), może w specyficznych warunkach generować małe przekłamania w menu.
  Jeżeli jednak jesteś pewien, że błąd leży po naszej stronie, daj mi znać, a postaram 
  się szybko naprawić usterkę. Do maila załącz screenshota z kłopotliwym fragmentem serwisu.</p>

  <h4>6. Gdzie zniknęła opcja "komp. prywatny" przy logowaniu?</h4>
  <p class="notop">Chyba wszystkie najnowsze przeglądarki obsługują zapamiętywanie 
  loginów/haseł, więc myślę, żę nieobecność tej opcji nie powinna sprawiać wielkich 
  problemów. Gdyby było inaczej - proszę o informacje.</p>

  <h4>7. Dlaczego przy pierwszym otwieraniu serwisu EiT strona przeładowywuje się?</h4>
  <p class="notop">Nowa wersja serwisu dość aktywnie wykorzystuje mechanizm ciastek 
  (cookies). Aby zbadać, czy użytkownik ma tę opcję aktywną w swojej przeglądarce 
  wysyłane jest testowe ciastko. Niestety, mechanizm ów jest skonstruowany tak, że 
  do sprawdzenia czy owo ciastko zostało odebrane przez użytkownika wymagane jest 
  odświeżenie strony.</p>

  <h4>8. Dlaczego kłódki w wyszukiwarce materiałów nie otwierają się?</h4>
  <p class="notop">Obecnie kłódka przy danym pliku oznacza, że dany materiał jest 
  dostępny tylko dla pewnej grupy użytkowników. Jeżeli jest to material skierowany 
  do Ciebie, to spróbuj go pobrać. W przypadku braku uprawnień otrzymasz odpowiedni 
  komunikat. W nowej wersji serwisu wiele jest rodzajów grup, do których mogą należeć 
  studenci - grupy dziekanatowe, roczniki, jak również grupy tworzone ręcznie przez 
  prowadzących. Każdorazowe sprawdzanie, czy osoba przeszukująca materiały należy do 
  grupy, dla której jest dany plik przeznaczony, spowodowałaby znaczne obciążenie 
  serwisu. Jeżeli uważasz, że dany materiał powinien być dla Ciebie dostępny, a nie 
  jest, skontaktuj się z odpowiednią osobą prowadzącą, która najprawdopodobniej 
  umieściła go w serwisie.</p>

  <h4>9. Jak działają grupy studentów i kto może je tworzyć?</h4>
  <p class="notop">"Wirtualne" grupy studentów zostały wprowadzone w związku z 
  wieloma zapytaniami prowadzących o możliwośc udostępnienia danego materiału 
  (ogłoszenie, oceny) tylko wybranym studentom. Obecnie prowadzący z odpowiednimi 
  uprawnieniami może utworzyć wirtualną grupę studentów (tzn. taką, która istnieje 
  tylko w serwisie WWW EiT, a nie w dokumentach dziekanatu) i do niej adresować 
  materiały i oceny. Oznacza to możliwość tworzenia wirtualnych odpowiedników grup 
  laboratoryjnych, bądź innych grup tymczasowych. W danej grupie mogą znajdować się 
  studenci z różnych lat.</p>

  <h4>10. Dlaczego na stronie wyświetla się kod HTML (np BR) starych newsów?</h4>
  <p class="notop">Nowa wersja automatycznie zamienia nowe linie w danych od użytkowników 
  (newsy, wypowiedzi na forum, itp) na odpowiedni kod HTML i nigdzie nie wymaga od nich 
  wpisywania fragmentów tego kodu. Znaczniki HTML danych wprowadzonych przez użytkowników 
  są wyświetlane, aby zapobiec "html abuse", czyli np. umieszczaniu złośliwych fragmentów 
  kodu JavaScript.</p>

  <h4>11. Dlaczego adresy e-mailowe są wyświetlane jako grafika?</h4>
  <p class="notop">Aby uchronić ich posiadaczy przed wszelkiego rodzaju robotami, 
  które przeszukują Internet w poszukiwaniu działających adresów, które następnie są 
  zaśmiecane tonami spamu (niechcianej poczty elektronicznej), reklamami i łańcuszkami.</p>

  <h4>12. Co to jest sygnaturka i gdzie uzyskam odpowiedzi na pytania dotyczące forum?</h4>
  <p class="notop">Ponieważ forum dyskusyjne na stronie jest całkiem nowe i ma niewiele 
  wspólnego ze swoją starszą postacią, postanowiliśmy właśnie w hydeparku stworzyć 
  osobne FAQ poświęcone tylko i wyłącznie tej części serwisu. FAQ forum dyskusyjnego 
  znajdziesz tutaj.</p>

  <h4>13. Nie mam praw do materiałów na innym roku, jak moge je pobrać?</h4>
  <p class="notop">Wybór zabezpieczenia, z jakim umieszczane są materiały w serwisie, 
  leży wyłącznie w gestii osób dodających te materiały. Jeżeli chcesz pobrać materiał, 
  który nie jest dla Ciebie przeznaczony, skontaktuj się z odpowiednim prowadzącym.</p>

  <h4>14. Jak mogę korzystać z aktualności serwowanych via RSS?</h4>
  <p class="notop">Najłatwiej, bo jednym ruchem myszy, można dodać RSS Feed jako 
  LiveBookmark do Firefoxa - wystarczy kliknąć ikonę pojawiającym się w prawym dolnym 
  rogu przy przeglądaniu naszego serwisu (RSS w 1.0PR) i wybrać "EiT News RSS Feed". 
  Spowoduje to dodanie do bookmarków feeda http://eit.agh.edu.pl/rss/news/15/0/eit.xml. 
  Istnieje także możliwość prostej konfiguracji generowanych RSSów i np dodanie ich jako 
  wiadomości przychodzące w Thunderbirdzie. Modyfikacji dokonuje się przez zmianę URLa feeda, 
  wg następującego wzorca:
  <span style="display: block;">http://eit.agh.edu.pl/rss/news/__a__/__b__/eit.xml</span>
  gdzie __a__ oznacza liczbę minut określającą czas, po jakim klient RSS uzna feed za 
  "nieświeży" i będzie chciał pobrać jego nową wersję (czyli w skrócie okres odświeżania), 
  natomiast __b__ oznacza rok (1-5), dla którego newsy mają być pobierane (0 - newsy dla wszystkich). 
  Element "eit.xml" nie jest konieczny do wygenerowania poprawnego RSSa, został dodany 
  jedynie dla czytelności. Treść jest kodowana w standardzie UTF-8 (Unicode).</p>

  <h4>15. Jak usunąć posta?</h4>
  <p class="notop">Jeśli nie jesteś zadowolony z treści swojej wypowiedzi, popełniłeś 
  jakąś "gafę" lub błąd ortograficzny zawsze możesz usunąć swojego posta z forum. 
  Spełnione muszą być tylko dwa warunki:<br />
  - post nie jest starszy niż dwa dni,<br />
  - jeszcze nikt nie odpowiedział na tego posta.<br />
  W celu usunięcia niechcianej wypowiedzi należy wyświetlić jej tekst, a następnie 
  kliknąć na przycisk [USUŃ] znajdujący się obok przycisku [ODPOWIEDZ].</p>

  <h4>16. Jak dołączyć sygnaturkę?</h4>
  <p class="notop">Opcja załączenia sygnaturki dostępna jest jedynie wtedy, gdy 
  użytkownik takową posiada. W celu dodania sygnaturki należy przejść do ustawień 
  użytkownika strony (TWOJE KONTO) i wypełnić odpowiednie pole formularza. Gdy użytkownik 
  posiada już swoją sygnaturkę opcja 'Dołącz sygnaturkę' znajdować będzie się zaraz 
  pod polem formularza, w którym wpisuje się treść posta.
  Opcja 'Dołącz sygnaturkę' jest zawsze domyślnie włączona. Jeśli nie chcesz dodawać 
  sygnaturki do swoich wypowiedzi musisz pamiętać o odznaczaniu tej opcji lub musisz 
  usunąć sygnaturkę ze swojego profilu (ustawienia użytkownika strony).</p>

  <h4>17. W jaki sposób uzyskam odpowiedź na dręczące mnie pytanie, którego nie ma w FAQ?</h4>
  <p class="notop">Najprostszym sposobem na uzyskanie odpowiedzi na pytanie dotyczące 
  serwisu EiT, jest kontakt ze mną. Jeżeli Twoje pytanie będzie sensowne, to prawdopodobnie 
  znajdzie się ono wkrótce (wraz z odpowiedzią) w dokumencie, który właśnie czytasz. 
  W przypadku pytań nie związanych z serwisem EiT skonaktuj się z najbliżej dostępnym 
  autorytetem w dziedzinie, której ono dotyczy.</p>
</div>