<div class="content deanery">
  <h3 class="news"><abbr>Info</abbr> Plan Zajęć</h3>
  <h4>HISTORYCZNIE</h4>
  <p>Pierwsza wersja (wyłącznie tekstowa) strony dydaktycznej (wwws.kt.agh.edu.pl) 
  powstała na przełomie 1998/1999 i zawierała wykazy przedmiotów i listy studenckie. 
  Stopniowo dochodziły wykazy sal, materiałów, i ocen (koniec 1999). Od semestru 
  letniego 2000 nastąpiły przenosiny do budynku D5. Początek października przyniósł 
  małą <a href="images/other/eit_0010.jpg">zmianę grafiki</a>. Na początku roku 
  2001 były już materiały do 24 przedmiotów.</p>
  <p>Tymczasem w listopadzie 2000 na drugim roku po apelu na liście dyskusyjnej EiT 
  zebrała się grupa chętnych studentów i podjęła próby stworzenia strony kierunku. 
  Najlepszy projekt wykonał Wojciech Krawczyk i to jego grafika wkrótce zawitała 
  na oficjalnej stronie kierunku Elektronika i Telekomunikacja AGH (po 4 miesiącach 
  na prywatnej stronie W. Krawczyka).</p>
  <p>Na początku kwietnia 2001 światło ujrzała <a href="images/other/eit_0004.jpg">pierwsza wersja strony graficznej</a>
  wykonana przez Wojciecha Krawczyka przy użyciu php i była widoczna pod adresem 
  student.kt.agh.edu.pl. Dostępne były wtedy aktualności, 120 materiałów i sondy. 
  W takiej postaci strona została dostrzeżona przez Gazetę Wyborczą w maju 2001.</p>
  <p>Taki artykuł zapewne dotarł do władz rektorskich i wydały one 3.07.2001 
  Regulamin umieszczania materiałów dydaktycznych na serwerach AGH promujący 
  Ośrodek Edukacji Niestacjonarnej jako główne źródło materiałów dydaktycznych.</p>
  <p>1. października 2001 światło ujrzała <a href="images/other/eit_0110.jpg">wersja zbliżona do obecnej</a>.
  Początek roku 2002 powitaliśmy nowym adresem strony - eit.agh.edu.pl. Strona była 
  rozwijana głównie przez W. Krawczyka, K. Juszkiewicza oraz grupę studentów 
  (m. in. Maciej Małek, Maciej Ochałek) uzupełniającą treść i materiały. Zasługi 
  Wojciecha Krawczyka zostały uhonorowane Nagrodą Rektora w czerwcu 2002 r.</p>
  <p>W listopadzie 2002 przyłączył się do pracy Łukasz Jezierski. W październiku 
  2003 miał on przejąć tworzony wspólnie z W. Krawczykiem nowy silnik strony 
  (i stronę), używany też na stronie Wydziału. Prace jednak nie zostały dokończone 
  ze względu na podjęcie pracy zawodowej przez obu programistów</p>
  <p>Kolejna wersja strony powstała w latach 2003-2004. W październiku 2003 pracy 
  nad WWW EiT podjął się samodzielnie Tomasz Pawełek. Postanowił napisać od zera 
  nowy silnik. Jego główne zalety to: możliwość grupowwej pracy, łatwość tworzenia 
  modułów oraz umieszczenie dyskusji w bazie danych. Wygląd graficzny strony nie 
  uległ zmianie od roku 2001, choć obecnie powinien być zgodny z zaleceniem 
  XHTML 1.0. Po pewnym czasie przyłączył się Łukasz Bandzarewicz (lato 2004) i 
  Piotr Wydrych (listopad 2005).</p>
  <p>W 2008 strona została wziął pod swoje szkrzydła Igor Rzegocki. Zaowocowało to kolejną 
  metamorfozą. Po raz kolejny została napisana całkowicie od nowa - wysłużonego PHP, 
  zastąpił język Ruby wraz z najpopularniejszym z jego frameworków - Ruby on Rails. 
  Główny nacisk przy projektowaniu nowego serwisu został położony na bazę danych -
  jej spójność i zgodność z konwecjami. Dodatkowo cały kod był pisany z myślą o
  następcach, którzy przejmą stronę - jest samodokumentujący się i tak prosty
  jak to tylko możliwe. Pojawił się także nowy arkusz styli, a kod XHTMLowy
  został przepisany z uwzględnieniem reguł tzw. &quot;semantic web&quot;.
  Dodatkowo do nowoczesnych przeglądarek wysyłany jest application/xhtml+xml
  a nie tzw. &quot;zupa XHTMLowa&quot;</p>

  <h4>TECHNICZNIE</h4>
  <p>Strona napisana jest w całości w języku Ruby i korzysta z frameworka Ruby on Rails.
  Serwis pracuje z bazą danych MySQL, a hostowany jest na serwerze Katedry Telekomunikacji 
  AGH - sunumie. Przy pracy nad serwisem nieoceniony okazał się system subversion (SVN), 
  który synchronizuje nasze poczynania. Od strony użytkownika - wykorzystujemy XHTML 1.1, JS, CSS2. 
  Strona została przetestowana pod przeglądarkami Mozilla Firefox 2.x+, Internet Explorer 6.0+,
  Opera 9+ i Safari 3+.</p>

  <h4>UŻYTKOWO</h4>
  <p>Z punktu widzenia użytkownika WWW EiT wiele się nie zmieniło. Strona pożegnała się
  z forum (które i tak umarło, na rzecz forów tworzonych przez poszczególne grupy
  dziekańskie na przeznaczonych do tego serwisach). Większość zmian w nowej wersji 
  (zarówno dla studentów jak i prowadzących) opisane jest w FAQ, które oczywiście 
  w każdej chwili może powiększyć się o Twoje pytanie zadane ekipie przez e-maila. 
  Tworząc nową wersję WWW EiT chcieliśmy, aby była ona dla Ciebie jeszcze wygodniejsza i 
  funkcjonalniejsza. Czy się to nam udało ? Oceń sam.</p>
</div>