<div class="content deanery">
  <h3 class="files"><abbr>Files</abbr> Oceny</h3>
  <div class="center">
    Poniższa tabela przedstawia listę ocen, które możesz pobrać z WWW EiT:
  </div>
  <%= render :partial => '_partials/grades_detailed', :locals => { :grades => @grades } %>
</div>
